header {
  align-items: center;
  background-color: white;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  display: flex;
  height: 156px;
  justify-content: space-between;
  margin: auto;
  padding: 0 100px;
  width: 80%;
}

.header-logo {
  height: 52px;
}

.info-header {
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.total-expenses-div {
  color: #003be5;
}

.info-header div {
  display: flex;
  justify-content: center;
}

.icon-header {
  height: 28px;
  padding-right: 10px;
}

.label-header {
  font-weight: 800;
}

.info-header span {
  align-self: center;
  font-size: 14px;
  margin-right: 4px;
}

.email-field {
  color: #2fc18c;
  font-weight: 600;
}
