.table-section {
  position: relative;
  width: 90%;
  min-height: 464px;
  margin: auto;
  top: -234px;
  background: #003BE5;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
  padding-top: 278px;
  padding-bottom: 100px;
  z-index: 1;
}

.table {
  width: 90%;
  margin: auto;
  font-size: 12px;
  text-align: center;
  /* border-spacing: 0 10px; */
  border-collapse: collapse;
}

.table-header {
  color: #FFFFFF;
  border-bottom: white 1px solid;
  font-style: normal;
  font-weight: 700;
}

th {
  border-right: white 1px solid;
  line-height: 40px ;
  margin: 10px
}

th:last-child {
  border-right: none;
}

.table-body {
  font-weight: 500;
  font-size: 12px;
  line-height: 40px;
  color: #2FC18C;
}

.table-body tr {
  border-bottom: solid #2FC18C 1px;
}

.table-body tr:last-child {
  border-bottom: none;
}

.table-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  margin: 0 5px;
}

.no-show-label {
  display: none;
}