.table-section {
  background: #003be5;
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  margin: auto;
  min-height: 464px;
  padding-bottom: 100px;
  padding-top: 278px;
  position: relative;
  top: -234px;
  width: 90%;
  z-index: 1;
}

.table {
  border-collapse: collapse;
  font-size: 12px;
  margin: auto;
  text-align: center;
  width: 90%;
}

.table-header {
  border-bottom: white 1px solid;
  color: white;
  font-style: normal;
  font-weight: 700;
}

th {
  border-right: white 1px solid;
  line-height: 40px;
  margin: 10px;
}

th:last-child {
  border-right: none;
}

.table-body {
  color: #2fc18c;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
}

.table-body tr {
  border-bottom: solid #2fc18c 1px;
}

.table-body tr:last-child {
  border-bottom: none;
}

.table-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.no-show-label {
  display: none;
}
