.form-section {
  z-index: 10;
  position: relative;
}

.input-section {
  align-items: center;
  background-color: rgb(235, 239, 244);
  border-radius: 0;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  color: #003be5;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;
  height: 134px;
  justify-content: space-between;
  line-height: 14px;
  margin: auto;
  padding: 0 100px;
  width: 80%;
}

.form-section label {
  align-items: center;
  display: flex;
}

.input-element {
  background-color: rgb(235, 239, 244);
  border: 1px solid #003be5;
  border-radius: 5px;
  color: #003be5;
  display: flex;
  flex-grow: 1;
  height: 30px;
  padding: 0 5px;
}

.description-label {
  flex-basis: 60%;
  flex-grow: 1;
}

.tag-label , .value-label , .currency-label , .method-label {
  flex-basis: 25%;
  flex-grow: 1;
}

.form-section label span {
  padding: 0 14px 0 30px;
}

select {
  font-family: Epilogue, sans-serif;
  height: 30px;
}

.add-expense-section {
  align-items: center;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  display: flex;
  height: 100px;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.exp-btn {
  background: #2fc18c;
  border: 1px solid #2fc18c;
  border-radius: 5px;
  color: white;
  font-family: Epilogue, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  left: 475px;
  line-height: 14px;
  text-align: center;
  top: 318px;
  width: 330px;
}

.exp-btn:disabled {
  background-color: gray;
  border: 1px solid gray;
  display: none;
}
